[2016-07-23 21:05] selivandex opened #2 "Obtaining cell_ids"
Hello, can you say how did you generated cell_id in the exmaple.rb ? And what cell_id we need?

[2016-07-23 21:17] selivandex commented on #2
As i understand cell id you used in example.rb is only for New York

[2016-07-23 21:32] nabeelamjad commented on #2
The example cell ID was generated by using the S2 geometry in Python's interpreter, unfortunately the library in question does not exist in Ruby (yet). I am looking for a way to get this implemented but unsure how long that will take.

If you need cell_ids then I'd suggest to have a look at this Python excerpt: https://github.com/tejado/pgoapi/blob/master/pokecli.py#L63 (the methods are imported f

[2016-07-23 21:41] selivandex commented on #2
I've wrote code like this https://gist.github.com/selivandex/35d2e08de01a1aae59bbd261db40af0a

And here is ruby usage `cell_ids = %x(python #{Rails.root.join('lib', 'get_cell_id.py')} -lat #{client.lat} -lng #{client.lng})`

But i getting response array of cell ids

`[2401181244772581376L, 2401181246920065024L]`

Can you help me understand? What is `L` at the end of each id ?

[2016-07-23 22:00] nabeelamjad commented on #2
L stands for Long in Python, it's just to indicate the type of the integer really (you don't see this in Python 3+ anymore)

You could use something like this:
- This is all assuming you have Python installed and invokable by calling `python` (if you do have it installed but calling `python` does not invoke it then you need to set up your PATH correctly to include python).

**example.rb**

[code]

[2016-07-24 19:59] selivandex opened #3 "Google oauth"
Are you going to implement this?

[2016-07-24 20:34] nabeelamjad commented on #3
I'll have a look at implementing this next weekend (won't have time before that).

[2016-07-25 17:53] nabeelamjad commented on #3
This has been implemented now by https://github.com/nabeelamjad/poke-api/pull/4 thanks to @xssc, I'll add documentation later today and push a new release.

[2016-07-25 17:53] #3 closed, assigned to nobody

[2016-07-25 23:44] coalwater opened #5 "Dropping inventory items"
I'm trying to do an api call that drops items from the inventory, I've used `get_inventory` and then filtered the items that I want to drop, then I created a call like this

[code]

but then I get this error

[code]

Is this because the RpcSub needs to map all requests, or am I doing something wrong?

[2016-07-26 00:09] nabeelamjad commented on #5
It seems like neither `RecycleInventoryItemRequest` nor response is in [rpc_sub.rb](https://github.com/nabeelamjad/poke-api/blob/master/lib/poke-api/protos/rpc_sub.rb). I suspect the Proto files need to be updated, I'll need to have a look at this some point upcoming weekend (they all need updating to the new structure).

However, If you really want to get this working I've published a branch with

[2016-07-26 00:16] coalwater commented on #5
Ok thank you very much, will test and update you.
if you need help with your api I could give you some of my time, the problem is that I don't really understand how this protos part works, maybe if you could guide me to something to give me the basics to start.

[2016-07-26 00:26] nabeelamjad commented on #5
Have a look at this link: https://github.com/AeonLucid/POGOProtos/search?utf8=%E2%9C%93&q=recycle. I've gotten the proto files from there and simply added them to the existing structure (not too difficult, have a look at my [commit](https://github.com/nabeelamjad/poke-api/commit/513c96e0d8a947ec05434e62b38b5891c037fbb6)). To generate proto files all you need to do is run the `protoc` command targe

[2016-07-26 19:51] nik736 opened #7 "Where does this stuff come from?"
Hi there!

first of all thanks for your work.

I just have a simple question, I am currently stuck at understanding where the stuff from the fetch_endpoint method comes from:

[code]

Where does it come from, what is it calling?

Thanks for any answer!

Niklas

[2016-07-26 19:55] nabeelamjad commented on #7
Those are the RPC calls required to initiate a successful login, as to why I'm not exactly sure. I have converted these from https://github.com/tejado/pgoapi/blob/master/pgoapi/pgoapi.py#L156.

Some people intercepted the traffic using MITM and noticed these calls being made every time on login (presumably to get your login data for your profile and such ready).

[2016-07-26 21:01] Icehawk78 commented on #5
Is there a reason you don't/can't just compile the entirety of the POGOProtos and drop them in here?

Would the existing structure support doing that, or would that be a very large change, given that the proto files seem to be somewhat regularly being updated?

[2016-07-26 21:54] nabeelamjad commented on #5
Compiling the protos is quite straight forward, I would need to make sure the existing structure still works with the new protos (it'll be a case of making sure all the class names match, etc)

[2016-07-27 01:52] nabeelamjad commented on #5
@Icehawk78 @coalwater - New protobufs are now up and running, let me know if there are any issues.

I've tagged it as 0.0.3, if something does not work then revert to 0.0.2 and let me know. I've had to use [b2c48b17b560dc3d259d50a8afa1ef4199170bc4](https://github.com/AeonLucid/POGOProtos/tree/b2c48b17b560dc3d259d50a8afa1ef4199170bc4) @ POGOProtos while also adding a missing import on `GetIncensePo

[2016-07-27 04:14] nicolas-besnard opened #9 "EvolvePokemon is not working"
I have the error

`Poke::API::Errors::UnknownProtoFault - An unknown proto fault has occured => [uninitialized constant RpcSub::EvolvePokemonRequest`

[2016-07-27 08:24] nabeelamjad commented on #9
Use the latest tag (0.0.3) or master branch, I updated the protobufs yesterday so this should work now (old protobufs did not have the request for this).

[code]

[2016-07-27 15:42] #9 closed, assigned to nobody

[2016-07-27 15:43] #5 closed, assigned to nobody

[2016-07-27 15:43] #7 closed, assigned to nobody

[2016-07-27 15:46] nabeelamjad commented on #2
As of the latest protobufs update both `client.lat` and `client.long` will once again return a double so they can directly be entered into the python function, I've updated the previous post to reflect this.

[2016-07-27 18:18] dphuang2 opened #10 "Issue with google login"
I keep getting this issue when logging in with google:

To recreate:
client = Poke::API::Client.new
client.login("someone@gmail.com","password","google")

[2016-07-27 18:38] nabeelamjad commented on #10
I'm not getting this

[code]

Make sure you have the latest version of poke-api (0.0.3) and try updating your gems/ruby. I'm using Ruby 2.3.1.

[2016-07-27 18:57] nabeelamjad commented on #10
So after investigating this is related to Ruby 2.2.4, you can view the offending line [here](https://github.com/ruby/ruby/blob/v2_2_4/lib/net/http/header.rb#L171) (it is used by `HTTParty` which is used by `gpsoauth-rb`)

Here's what's going on for **Ruby 2.2.4**

[code]

The mistake has been corrected for **Ruby 2.3.1** (and possibly earlier versions) at least by converting it into a `String` fir

[2016-07-27 18:59] nabeelamjad commented on #10
Tagging @xssc

[2016-07-27 19:15] xssc commented on #10
@nabeelamjad thanks for investigating the issue, I made the change and pushed it as v0.1.2 so should just need to change `spec.add_runtime_dependency 'gpsoauth-rb', '0.1.1'` to `'0.1.2'`

[2016-07-27 19:19] nik736 opened #12 "store_location needed?"
Hi,

is store_location needed? It's in all your examples but I am just wondering if it is required/expected or if I can simply skip it?

Thanks!!

[2016-07-27 19:20] nabeelamjad commented on #10
#11 will resolve this issue for the master branch, I will update the tag later.

[2016-07-27 19:23] nabeelamjad commented on #12
I think it depends on your calls, if you want to get map objects then it may be required. It is mostly used for the 'heartbeat' (that is if you want to automatically move around in the game using the API). Your location is passed with every `call` you make to the game (indicating your position). It might be good to store it to avoid getting banned (in any case use a throwaway).

If all you want to

[2016-07-27 19:45] nik736 commented on #12
ok, thank you for the fast answer.

[2016-07-27 19:45] #12 closed, assigned to nobody

[2016-07-27 20:01] nik736 opened #13 "An unknown proto fault has occured => [Expected number type for integral field. ... poke-api/request_builder.rb:90:in `initialize']"
Hello again,

I have tried to integrate the "release_pokemon" RPC call. The output of inspect is the following:

`#<Poke::API::Client @auth=#<Poke::API::Auth::GOOGLE:0x007fef17898088> @reqs=[{:RELEASE_POKEMON=>{:pokemon_id=>"1234567890"}}] @lat=0 @lng=0 @alt=0>`

(I changed the pokemon_id)

The error is the following:

Line 18 is simply the `call = client.call` call.

I am not sure if I used the c

[2016-07-27 20:14] xssc commented on #13
It seems your `:pokemon_id=>"1234567890"` is a string (Note the quotes around the number) but the proto expects a number. How are you calling `release_pokemon`?. You should be passing `pokemon_id` as a number

[2016-07-27 20:15] nabeelamjad commented on #13
Yes that is correct (with the exception that you're passing in a string), here's an example:

[code]

[2016-07-27 20:19] nik736 commented on #13
Ah, thanks! It's working now :-)

[2016-07-27 20:19] #13 closed, assigned to nobody

[2016-07-27 20:26] nabeelamjad commented on #13
Another helpful thing to look out for is [**this line**](https://github.com/nabeelamjad/poke-api/blob/master/lib/poke-api/POGOProtos/Networking/Requests/Messages/ReleasePokemonMessage.rb#L8) as it indicates `:fixed64` as a value required (which always is an integer).

Here's a table format of values possible for [protocol buffers](https://developers.google.com/protocol-buffers/docs/proto):

| prot

[2016-07-27 20:51] xssc opened #14 "No way to get status_code or error"
There is no way to get the `status_code` of a response or the `error` string because the response given only includes the subresponses

[2016-07-27 21:15] dphuang2 commented on #10
@nabeelamjad Thanks for the support~!

[2016-07-27 21:46] xssc commented on #14
Replacing [These lines](https://github.com/nabeelamjad/poke-api/blob/master/lib/poke-api/response.rb#L27-L28) with something like the code below helps, but I was running into some issues when I tested it and am busy right now

[code]

[2016-07-27 21:58] nabeelamjad commented on #14
I'll add the `status_code` and `error` in, going to leave out the authentication information unless there's demand for it (it's in bytes anyhow).

[2016-07-27 22:00] xssc commented on #14
Okay, thanks

[2016-07-27 22:10] nabeelamjad commented on #14
Commit 8f3caa91adb07c1e636dd9e9b71cfec4ae0bde5b fixes this issue, new tag is 0.0.4 with updated readme/gpsoauth and response.

You can access the status code and error using `call.response.status_code` and `call.response.error` (if the error is empty then assume there's no error).

[2016-07-27 22:13] #14 closed, assigned to nobody

[2016-07-27 22:27] nabeelamjad commented on #10
@dphuang2 The new tag, 0.0.4, has been pushed, I'll close this off now.

[2016-07-27 22:27] #10 closed, assigned to nobody

[2016-07-28 03:28] nicolas-besnard opened #15 "Not all protos files are required"
I think you need to require all the Protos files.

It's impossible to retrieve the ID of a Pokemon for example (you get `:RATTATA`, and the `POGOProtos.Enums.PokemonId` is required to retrieve the pokedex index of the pokemon)

[2016-07-28 08:54] nabeelamjad commented on #15
Which request(s) is this needed for? The way protobufs works is that the request needs to have the `pokemon_id` linked to that Protobuf, though it might be confusing because `pokemon_id` doesn't always refer to the Pokedex number.

Take for example [ReleasePokemon](https://github.com/nabeelamjad/poke-api/blob/d74611e7899f697d57ef0baa2d27beab853b0d4d/lib/poke-api/POGOProtos/Networking/Requests/Mess

[2016-07-28 14:04] nicolas-besnard commented on #15
For instance with `get_inventory`, you will get a JSON with the following hash for each Pokemon in your inventory

[code]

What I want to do, is getting the Pokemon's Pokedex ID (instead of `:ONIX`).

[2016-07-28 16:03] nabeelamjad commented on #15
Aha, this actually seems intended by the protobufs (https://github.com/nabeelamjad/poke-api/blob/master/lib/poke-api/POGOProtos/Data/PokemonData.rb#L12). It maps the given number to a name by default, you may have to use custom conversion to change it back (I can provide a sample code on how to do that if you wish).

[2016-07-28 16:06] nicolas-besnard commented on #15
The mapping already exists with the protobufs, It seems strange to have to
redefine my own enum.
On Thu, 28 Jul 2016 at 11:03, nabeelamjad notifications@github.com wrote:

[2016-07-28 16:34] nabeelamjad commented on #15
Here is how you could use it, unfortunately unless you want to change the Protobufs or fork it and remove the reference to PokemonID this is the only workaround I know of.

[code]

To give you an insight what's happening internally, the protobufs are returning the ID 95 but because we (the protobufs for pokego) have an enum mapped to the ID it will map that like so:

[code]

Which then returns :ON

[2016-07-29 03:32] nicolas-besnard commented on #15
Indeed, your solution works :)

[2016-07-29 03:32] #15 closed, assigned to nobody

[2016-07-29 17:04] xssc opened #17 "Can't use as gem dependency"
Do you plan to push this to rubygems.org? You can't use a git source as a gem dependency

[2016-07-29 17:12] nabeelamjad commented on #17
You can if you use Bundler but you're right, I should.

The reason is that someone already has a gem called `poke-api` and I had no idea until after the project.

[2016-07-29 17:14] xssc commented on #17
You can change the name in the .gemspec file and still have it as `require 'poke-api'` after its installed.

[2016-07-29 17:59] nabeelamjad commented on #17
I'll try and think to come up with a name, maybe `poke-go-api`

[2016-07-29 18:36] nabeelamjad commented on #17
Commit a6adf86a1231ea69db78255cbf526bea8da207e9 has set the gem up as `poke-go-api`, I've updated the readme as well now.

[2016-07-29 18:37] xssc commented on #17
Nice, thanks!

[2016-07-29 18:37] #17 closed, assigned to nobody

[2016-07-31 04:55] dphuang2 opened #21 "Heroku deployment login issue"
Logging in with the API locally on my computer yields no errors. But when I try to use it on Heroku's servers I get this error.

[code]

To replicate this error you have to make a Rails project and client.login through Heroku console (accessed by "heroku run console"). I don't know if this is a problem with the API, my development environment, or with heroku itself. But I have tried to figure this

[2016-07-31 05:14] nabeelamjad commented on #21
Apparently they banned Amazon EC2 servers, since Heroku runs on those it wouldn't work anymore (since it won't give you a response back).

It makes sense in all honesty from their point of view if they want to crack down on people using the API, however, legitimate users could be playing Pokemon GO using a VPN hosted in the cloud...

[2016-07-31 06:25] dphuang2 commented on #21
RIP, I see all the buzz about it now...

[2016-07-31 06:25] #21 closed, assigned to nobody

[2016-08-01 01:37] xssc opened #22 "re-login fails repeatedly"
I am creating an instance of Poke::API::Client and logging in, if it fails, and I try to re-log in, it fails continuously unless I create a new instance, I would try to help further but I had no luck getting it to fail when I turn logs to debug (tried for like 15 mins)

[2016-08-01 01:49] xssc commented on #22
My guess would be an instance variable and seeing that its throwing a proto fault it has to be coming from inside `fetch_endpoint`. I think it may be related to `@endpoint`. I will try to test later

[2016-08-01 19:16] nabeelamjad commented on #22
Interesting, I'll have to play with this later (hard to reproduce because my logins aren't failing)

[2016-08-01 19:39] xssc commented on #22
I have not had time to test this but, This commit, https://github.com/nabeelamjad/poke-api/commit/8f3caa91adb07c1e636dd9e9b71cfec4ae0bde5b, removed a line that checks if the `apiurl` is empty and there is also no check to see if its empty in `fetch_endpoint`(client.rb) so `@endpoint` presumably gets set to `https:///rpc`, because its an empty string (if auth fails)

[2016-08-01 19:43] nabeelamjad commented on #22
Yeah, I'll fix the issue with fetch_endpoint so it doesn't overwrite `@endpoint` to an empty string or something.

[2016-08-01 20:15] nabeelamjad commented on #22
Fixed in 5099412ccb068a7262bb113011558bbb40c7a06d and pushed as a new release.

[2016-08-01 20:16] xssc commented on #22
Thanks, that should fix it!

[2016-08-01 20:16] #22 closed, assigned to nobody

[2016-08-01 23:13] xssc opened #24 "Use auth ticket if one exist and updated error messages."
Cna you implement using the auth ticket instead of using the oauth token, Seems to get errors a lot using token. Also can you add new error/log messages for IP ban/ throttle.

As seen here: https://github.com/tejado/pgoapi/blob/master/pgoapi/rpc_api.py#L122

[2016-08-02 00:22] nabeelamjad commented on #24
I'll look into implementing this in a day or two, I need to refresh the protos and clean the structure as well (so we don't end up with a lot of folders and files).

[2016-08-02 00:22] xssc commented on #24
alright sounds good

[2016-08-02 17:50] nabeelamjad commented on #24
I had a shot at this however it seems something is wrong as the `auth_ticket` I get back in `@response` is still in bytes (as opposed to base64), not sure what the issue is. I'll throw up a WIP branch later today, I've tried a bunch of things already related to encoding types.

**edit**
Added commit https://github.com/nabeelamjad/poke-api/commit/ad9e0fef288174d4f804d87ba829b52ec4fffef3 to wip bran

[2016-08-02 22:10] dphuang2 opened #26 "Is there any way to do sign in through Google Authentication rather than through the API?"
Edit for Clarification:

The purpose of this is to allow for a more secure login rather than inputting your username and password into the API.

[2016-08-02 22:13] xssc commented on #26
Yes. Please read the README before posting an issue

[2016-08-02 22:17] dphuang2 commented on #26
Sorry, I was unclear with what I meant. I meant is it possible to do authentication with Google rather than the API.
For example:
1. Redirect a user to the google sign in page and retrieve an access token there
2. Using that access token retrieve the endpoint for the API
3. Continue to make requests as needed from there.

The purpose of this is to allow for a more secure login rather than inputtin

[2016-08-02 22:50] xssc opened #27 "Does not re-set api_url"
Sometimes when a status is unsuccessful, it will return a code of 53 and a new api url. Can you add a method that checks for this and updates `@endpoint` accordingly. example response:

[code]

[2016-08-02 23:56] nabeelamjad commented on #26
Yes, this should be possible to do as long as the token returned by Google works for Niantec (I have no idea about which scope it needs, but I assume it'll just be viewing their e-mail address). Here's some reference documentation: https://developers.google.com/api-client-library/ruby/auth/installed-app

I won't really get time before weekend to get this done, however, the only caveat is that mach

[2016-08-02 23:58] nabeelamjad commented on #27
Do we want the `@endpoint` to update in this case I assume?

[2016-08-02 23:59] xssc commented on #27
Yes, if they give an api url, it should be set.

[2016-08-03 00:00] nabeelamjad commented on #27
So as long as it returns an `API_URL` that isn't blank it should be set, correct? (regardless of status code)

[2016-08-03 00:00] xssc commented on #27
Correct.

[2016-08-03 00:54] nabeelamjad commented on #27
46e0d6d5761cff17f4b1157fedcf1021d50fc515 should fix this (I've change the structure slightly so the endpoint is handled at the response level), I've also added some more debugging for protocol buffer responses.

[2016-08-03 01:05] #27 closed, assigned to nobody

[2016-08-03 08:09] rojosinalma commented on #26
I'd say since this is just an API wrapper (with some extras), you can leave that implementation to the client that's integrating this gem.

That should be a basic oauth flow and you can even use [omniauth-google-oauth2](https://github.com/zquestz/omniauth-google-oauth2) (i.e).

I wouldn't consider that as a basic necessity for this gem and even more, I would consider it an overhead.

[2016-08-03 09:25] dphuang2 commented on #26
I did try to implement it within my application with omniauth-google-oauth2 and ran into some problems. The steps I took were:
1. Create a new Poke::API::Client
`client = Poke::API::Client.new`
2. Successfully retrieve the access token
3. Make a Poke::API::Auth::GOOGLE object instance (username and password as just fillers)
`google = Poke::API::Auth::GOOGLE.new(@user.name, "password")`
4. Set the

[2016-08-03 10:53] rojosinalma commented on #26
@dphuang2 I read something about Niantic implementing cert-pinning on the endpoints now, I don't know if this applies to all the endpoints, but this sounds like either the endpoint changed or you're getting rejected.

Have you tried the vanilla solution for this API and see if it works anyway?
(Sorry I can't really try myself, the last time I used this was last Friday and the cert-pinning came out

[2016-08-03 11:01] rojosinalma commented on #26
Or maybe everything was good and the endpoint just failed... try again :(
Try debugging all the vars you set, including the `@endpoint` in `response.rb:41`... even better, post the full log of the client when you run it.

[2016-08-03 16:28] xssc commented on #26
Cert pinning its only enabled client side currently. Should not be an issue.

[2016-08-03 18:02] nabeelamjad commented on #26
Isn't `omniauth` gem only for OAuth flow involving a web app (not a local program)? I have used it before but I remember needing a callback URL that will present a token to retrieve the access token.

[2016-08-03 18:14] dphuang2 commented on #26
Yeah it is, I am working on a web app.

[2016-08-03 18:25] nabeelamjad commented on #26
Ah I see, should the api client only expose a way to store the access token by Google then to use? As you said it doesn't feel right to implement the entire OAuth flow. Provided the access token works (unsure at the moment).

[2016-08-03 19:32] dphuang2 commented on #26
I ran some tests and comparisons.

I found that the @access_token of the GOOGLE Object from the client (from client.login) differs from the token I get from [omniauth-google-oauth2](https://github.com/zquestz/omniauth-google-oauth2). I assume that this is because omniauth uses Web login and poke-api implements the use of [gpsoauth](https://github.com/xssc/gpsoauth/blob/master/lib/gpsoauth.rb) whic

[2016-08-03 19:46] nabeelamjad commented on #26
Tokens that start with eY are [JSON Web tokens](https://jwt.io/), you should try and not share them (or garble them slightly) as they can share personal information (and are valid as well until expiry). I've edited your post so it's not valid a token anymore.

I believe the first token you get back is an `authorization code` as described by [RFC 6749](https://tools.ietf.org/html/rfc6749#section-4)

[2016-08-03 19:50] dphuang2 commented on #26
I garbled them slightly beforehand but thanks for the precaution :)

Could I use gpsoauth myself to retrieve an access token with the first token?

[2016-08-03 19:52] nabeelamjad commented on #26
JSON Web tokens continue to show information even after slightly garbling them (unless you change quite a lot). Regarding GPSOAuth, I'm not sure, Android has a completely different way of authenticating with Google.

I suppose you could compare the two tokens on https://jwt.io and see what their payload looks like?

[2016-08-03 19:56] dphuang2 commented on #26
I see, thanks for the heads up.

I'll try that out.

[2016-08-03 19:59] nabeelamjad commented on #26
I had a quick go at this as well, here's what I got

**Android**

[code]

**Google OAuth**

[code]

Perhaps the audience/authorized presenter needs to match? Not sure how Niantec are validating.  I can't even test anything as every time I login in I get a blank api_url... (for both Google and PTC).

[2016-08-03 21:05] dphuang2 commented on #26
I got similar results with my payload...

On a side note, how is www.pokeadvisor.com doing google authentication? It redirects me to a get a token that is authorized by Niantic themselves: [image](http://i.imgur.com/6YKeeJh.png)

[2016-08-03 23:02] nabeelamjad commented on #26
I would guess that Niantec set their OAuth2 flow to local app instead of web app so anyone could use their address.

Example: https://accounts.google.com/o/oauth2/auth?client_id=848232511240-73ri3t7plvk96pj4f85uj8otdat2alem.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&response_type=code&scope=openid%20email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fuserinfo.email

[2016-08-03 23:10] dphuang2 commented on #26
It's kind of clunky but I am guessing this is the only way to get a token through the web that validates with Niantic.

[2016-08-03 23:17] nabeelamjad commented on #26
Alright figured it out, this is what you have to do:
- Get some sort of web-client (HTTPClient can do this) to get the token from https://accounts.google.com/o/oauth2/auth?client_id=848232511240-73ri3t7plvk96pj4f85uj8otdat2alem.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&response_type=code&scope=openid%20email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fuserinfo.ema

[2016-08-03 23:24] dphuang2 commented on #26
Wow, nice job on the procedure. That would have taken me a while...

I'll take a stab at it right now.

[2016-08-04 00:15] dphuang2 commented on #26
Works like a charm! Here is the procedure I used:

[code]

I was wondering though, is there any way to do this without having to get the code manually?

[2016-08-04 00:47] nabeelamjad commented on #26
It is possible but it's going to be really hard to explain how, you basically have to 'spoof' being an actual user logging in while saving cookies and all that. HTTPClient can do all of this for you, but it'll be a lot of trial and error. Google Chrome's developer console (network tab) should be a great deal of help here too.

I found this https://github.com/ernilos/PokemonGoApi/blob/4adfa7a891940

[2016-08-04 01:13] dphuang2 commented on #26
Thats a pretty hacky solution X_X. Well now that I know that it is possible I am going to close this issue.

[2016-08-04 01:13] #26 closed, assigned to nobody

[2016-08-04 01:28] xssc commented on #24
An update on this: While currently the whole API is broken it seems after the initial request the server doesnt take tokens anymore, only tickets

[2016-08-04 01:30] nabeelamjad commented on #26
It might just be easier requesting the user to provide you the token, saves a lot of trouble and you get a re-usable refresh token you can store somewhere in your DB for that user to generate the access token indefinitely.

[2016-08-04 01:35] nabeelamjad commented on #24
Are you sure? It's working for me (using PTC, not tried Google) to keep generating requests such as `get_player` or `get_inventory` and they're returning just fine. It seems the only part broken right now is `get_map_objects`, I guess it'll be a waiting game till someone reverse-engineers to see what they changed.

I'll try and see if I can get the Auth ticket figured out, basically everything is

[2016-08-05 10:05] nabeelamjad commented on #2
Will implement this tomorrow in native Ruby (just enough so we can use it to generate S2 cells).

[2016-08-06 01:08] xssc commented on #2
@nabeelamjad Thanks!

[2016-08-06 03:35] nabeelamjad commented on #2
I've put up a PR #28 just to ensure that the work I've done is right and if anything needs to be changed, I'll probably merge it in tomorrow.

[2016-08-06 06:16] okte2 opened #29 "syntax error in gpsoauth"
Hi! I have a problem running the program because of the syntax error in gpsoauth. I'm trying to log in with google account.
The error looks like below. Do you know how to fix this problem? Thanks in adv.

[2016-08-06 07:24] okte2 commented on #29
it was solved when I updated ruby version.
thanks for the info in changelog!

[2016-08-06 16:33] #29 closed, assigned to nobody

[2016-08-07 21:58] nabeelamjad commented on #24
Done, latest release has implemented this. I'll probably need to make some tweaks later down the line but it should work for now.

[2016-08-07 21:59] nabeelamjad commented on #2
I've merged in S2 Geometry cells in the latest release, I'll separate the repo at some other point when I have more time.

[2016-08-07 21:59] #2 closed, assigned to nobody

[2016-08-07 23:59] #24 closed, assigned to nobody

[2016-08-08 17:45] mxgr opened #31 "Adding proxy support to HTTPClient"
Since Niantic is now blocking calls from major cloud services through IP detection - is there anyway we would implement the use of a proxy for HTTPClient ?

It could work this way:

`client.store_proxy(url, user, pass)`

And

[code]

https://github.com/nabeelamjad/poke-api/blob/master/lib/poke-api/request_builder.rb

[2016-08-08 18:29] nabeelamjad commented on #31
Yep sounds good, I'll add a proxy functionality using HTTPClient in the next build (after today's build).

[2016-08-08 18:40] nabeelamjad commented on #31
Actually it might not even be required, it seems `HTTPClient` can detect an environment variable to set up a proxy instead.

Example:

[code]

It might be easier just to mention this in the readme rather than trying to add another method.

[2016-08-09 02:28] nabeelamjad commented on #31
I've added a mention in the README and I'll leave this as it is. If there's something else that I've missed please let me know.

[2016-08-09 16:01] mxgr commented on #31
@nabeelamjad yes that's good way to sort this problem out I didn't see this, but let's say there are 200 accounts logged in the service and we want to use one IP per account - one single proxy won't be sufficient to do so

[2016-08-09 16:21] mxgr commented on #31
@nabeelamjad So I just tried the http_proxy env var method, setting this up with a major proxy provider authentication, I get this error:
`Poke::API::Errors::LoginFailure: Unable to login to GOOGLE => [407 "Proxy Authentication Required" @ /app/vendor/ruby-2.2.0/lib/ruby/2.2.0/net/http/response.rb:119:in`error!']`

Seems to be because:

https://github.com/Homebrew/legacy-homebrew/issues/32041

I t

[2016-08-09 16:48] nabeelamjad commented on #31
Oh okay, I see. I'll add it in then for the next build.

[2016-08-09 20:07] selivandex opened #32 "Encryption"
Hey

What is encryption file and how i can get it?

[2016-08-09 20:16] nabeelamjad commented on #32
The encryption file itself is copyrighted and thus not provided nor held by us. It does appear [here](https://github.com/PokemonGoMap/PokemonGo-Map/tree/develop/pogom) on a different repository, however we are not responsible for any of these (and we do not know if these files are legitimate or not, use at your own risk).

[2016-08-09 20:16] #32 closed, assigned to nobody

[2016-08-09 20:23] selivandex commented on #32
How did you tested `get_map_objects` then?

[2016-08-09 20:28] nabeelamjad commented on #32
We had _someone_ test it for us :).

[2016-08-09 20:39] selivandex commented on #32
I use Mac OS El Capitan and trying to use this file: https://github.com/PokemonGoMap/PokemonGo-Map/blob/develop/pogom/libencrypt-osx-64.so

And getting this error:

[code]

Can you help me with this?

[2016-08-09 20:43] nabeelamjad commented on #32
Update your Ruby to 2.3.0+, it's a known issue with older versions of Ruby on Mac.

[2016-08-10 00:00] krzkrzkrz opened #33 "Is it possible to set the location to a specific latitude and longitude?"
`pgoapi` has a `set_position()` method. Wondering if such exists here as well? At the moment, I am only seeing what is specified in the docs

i.e. `store_location('New York')`

[2016-08-10 00:49] nabeelamjad commented on #33
It does indeed, see [here](https://github.com/nabeelamjad/poke-api/blob/master/lib/poke-api/client.rb#L75). Several ways to do this.

[code]

[2016-08-10 01:40] #33 closed, assigned to nobody

[2016-08-10 01:41] nabeelamjad commented on #31
This has been implemented now, see [README](https://github.com/nabeelamjad/poke-api/blob/master/README.md) under **Proxy Support** section.

Let me know if you have any issues.

[2016-08-10 01:41] #31 closed, assigned to nobody

[2016-08-10 01:56] nabeelamjad opened #34 "Revamp README into a proper Wiki"
It's getting slightly out of hand, will need to (time permitting) use Github's wiki and provide a proper documentation on what can and can not be done in their own section without cluttering everything.

[2016-08-10 06:54] krzkrzkrz opened #35 "get_map_objects always returns with empty pokemon arrays"
Not sure if I am getting this.

I do something like:

[code]

All I get are responses with no results:

[code]

As in `wild_pokemons`, `catchable_pokemons` and `nearby_pokemons` always returns with an empty array `[]`. Is there something I am missing?

[2016-08-10 07:13] nabeelamjad commented on #35
You are missing the activation for the signature, without that map object call always returns empty.

Have a look at this [example file](https://github.com/nabeelamjad/poke-api/blob/master/examples/spiral_search.rb#L111) (issue #32 might give you more information on this).

[2016-08-10 07:48] krzkrzkrz commented on #35
So the encryption file is used to create a signature. Cant the signature be generated with something like. Pseudo code:

[code]

Does `activate_signature()` expect a specific type of value?

[2016-08-10 07:51] krzkrzkrz commented on #35
Apparently, `activate_signature()` expects a file path:

[code]

Wondering if we could just generate our own signature and pass this along instead?

[2016-08-10 08:15] nabeelamjad commented on #35
You can't provide any signature of your own, the signature is composed of various hashes of your requests, authentication,  timestamps and so on serialized into bytes using Google's protobuf. Have a look at [**`signature.rb`**](https://github.com/nabeelamjad/poke-api/blob/master/lib/poke-api/signature.rb).

The signature furthermore needs to be encrypted with Niantic's encryption method (which the

[2016-08-10 09:36] krzkrzkrz commented on #35
Thanks for that clarification

[2016-08-10 09:36] #35 closed, assigned to nobody

[2016-08-10 09:43] krzkrzkrz opened #36 "Trying to understand fetch_ticket"
I am trying to understand this (https://github.com/nabeelamjad/poke-api/blob/master/lib/poke-api/auth/ptc.rb):

[code]

I'm tried running the code individually. It seems `httpclient` lib fails unexpectedly, thats why you need the `begin` block there. The `ticket` is used to generate the access token on the next method.

Doing the same thing on `httparty` (another http gem), doesnt render any error

[2016-08-10 09:45] nabeelamjad commented on #36
Yep, you're not storing cookies (HTTPClient does this for you), instead HTTParty generates a new clean slate every request.

[2016-08-10 09:50] krzkrzkrz commented on #36
At this point, I am guessing, its just a matter of passing the cookie from the previous requests, into the new HTTParty requests?

[2016-08-10 09:54] nabeelamjad commented on #36
Sounds about right, the best way as always is to open the page yourself with a web browser and try to replicate what's going on. Google Chrome's developer tools are very helpful in seeing what exactly is being done

Take for example going to https://sso.pokemon.com/sso/login?service=https%3A%2F%2Fsso.pokemon.com%2Fsso%2Foauth2.0%2FcallbackAuthorize (as it's a get request), the developer tools you

[2016-08-10 09:58] nabeelamjad commented on #36
I also need to mention that Niantic in no way or shape conforms to the OAuth 2.0 Authentication framework laid out in [RFC 6749](https://tools.ietf.org/html/rfc6749), instead they have some very _bizarre_ stuff going on.

[2016-08-10 11:00] krzkrzkrz commented on #36
That is strange. Im still not getting a valid ticket response. I keep getting a new `LT` response.

I've tried a variation of setting the cookie via HTTParty. Still no go. Latest code is:

[code]

[2016-08-10 11:41] nabeelamjad commented on #36
A cookie appears to have more values, no idea how relevant they are as I've never tried using it via HTTParty.

[code]

[2016-08-10 13:16] krzkrzkrz opened #37 "Whats the difference between wild and catchable pokemons?"
Whats the difference between wild and catchable pokemons?

[2016-08-10 13:49] nabeelamjad commented on #37
I wouldn't really know about that, I've played the game only one or two days total. I would assume catch-able Pokemon returns a list that is in your range to click? Whereas wild could be out of range but still close enough?

[2016-08-10 14:04] krzkrzkrz commented on #37
Looking at `RECYCLE_INVENTORY_ITEM` and the other possible requests at

https://github.com/nabeelamjad/poke-api/blob/master/lib/poke-api/pogoprotos/pogoprotos_networking_requests.rb

How is it possible to fine out which arguments are needed for those methods?

[2016-08-10 14:06] nabeelamjad commented on #37
https://github.com/nabeelamjad/poke-api/blob/master/lib/poke-api/pogoprotos/pogoprotos_networking_requests_messages.rb

If a field points to another field (such as enum), it will have a name behind it (which is another file you can open to get the number from). The README explains on how to search up.

You can also find them at https://github.com/tejado/pgoapi/wiki/recycle_inventory_item, I still

[2016-08-10 15:26] krzkrzkrz commented on #37
I see. Consider the following:

[code]

`pokemon[:encounter_id]` and `pokemon[:spawn_point_id]` are values returned from `resp.response[:GET_MAP_OBJECTS]`.

No errors when running, this, but at the same time. Number of poke balls dont decrease and number of pokemons in inventory are the same

[2016-08-10 15:38] nabeelamjad commented on #37
I'm not sure how that API call works personally, you could have a look at this [code](https://github.com/PokemonGoF/PokemonGo-Bot/blob/63f777bac0c8cdc75d07f9ef491ca8b900c0148a/pokemongo_bot/cell_workers/pokemon_catch_worker.py#L343), perhaps you're not in catch-able range to it?

[2016-08-10 15:52] krzkrzkrz commented on #37
[code]

Returns

[code]

[2016-08-10 15:56] nabeelamjad commented on #37
I wouldn't be able to help you with this, I've never used the API calls myself (as I don't play the game). I'm pretty sure the API works as intended, however something else is going on. Maybe someone else has a clue why?

Did you try it on **lured** or **visible** pokemon?  (Don't think it works on **wild** or **catchable** despite the name)

[2016-08-10 16:10] krzkrzkrz commented on #37
According to some guys at the Slack group pgoapi, Status code 3 indicates that something is wrong with the arguments passed. Where exactly, I am trying to figure out

[2016-08-10 16:24] krzkrzkrz commented on #37
Happen to know if I need to call `client.encounter` first?

[2016-08-10 16:38] nabeelamjad commented on #37
So if you look over at https://github.com/PokemonGoF/PokemonGo-Bot/blob/63f777bac0c8cdc75d07f9ef491ca8b900c0148a/pokemongo_bot/cell_workers/pokemon_catch_worker.py#L66

We can see the following things:
1. A `PokemonCatchWorker` class is instantiated with the `lured_pokemon` or `visible pokemon` which executes `work` (which we are looking at in the link above)
2. Fires a `create_encounter_api_call`

[2016-08-10 23:06] nabeelamjad commented on #36
Going to close this issue down as it's not really an issue (if you want information on how things are done then you can always look at the source code for HTTPClient, though I have to warn you that their code is not pretty to read).

[2016-08-10 23:06] #36 closed, assigned to nobody

[2016-08-10 23:07] nabeelamjad commented on #37
Closing this one down as well, if there's still an issue let me know but this does seem to point out to how these requests have to be called rather than anything to do with the gem itself. If you can't get it to work by Saturday then I'll help out with some sample code you can try and run.

[2016-08-10 23:07] #37 closed, assigned to nobody

[2016-08-11 10:30] krzkrzkrz opened #38 "Locating pokestops"
[code]

The following `puts` returns objects. In `forts`, I do see some results. But I dont see any indication of any pokestops. Does `get_map_objects` support this, at this time?

[2016-08-11 10:34] #38 closed, assigned to nobody

[2016-08-12 18:57] xssc opened #39 "Update signature and allow custom data"
Can you please update the signature proto to reflect the updates in this commit: https://github.com/AeonLucid/POGOProtos/commit/b65d4b56f02a1182bd81572bcee3a32944c47885

And is it possible to make it so you can set device/gps/sensor/activity info for each request. as currently it sets the signature without any of those fields.

[2016-08-12 19:34] nabeelamjad commented on #39
Yep sure, any ideas for what kind of values to use? I don't play the game myself so wouldn't have a clue. If I can get some sample data I could fill it in (and randomize it to some degree)

[2016-08-12 19:36] xssc commented on #39
Well I was really hoping it could be configurable by projects using this API, so they can determine, how/what they want to fill in.

[2016-08-12 19:37] nabeelamjad commented on #39
I'll have a look into it to allow projects to configure it then for each request made, if not filled it would send it blank without those filled.

[2016-08-13 13:46] nabeelamjad commented on #39
It seems the latest protobufs don't work for the signature.

https://github.com/AeonLucid/POGOProtos/commit/b65d4b56f02a1182bd81572bcee3a32944c47885 changes `request_hash` from uint64 to int64 (which breaks it), changing that line back to uint64 works fine. I'm not sure behind the reasoning for this, I highly doubt our hash function can return a negative value? (I've never seen it generate negativ

[2016-08-15 20:16] nabeelamjad commented on #39
I've been quite busy this week but I'll get this implemented in the next two days (at least the manual options for Signature), the protobufs I might hold off until they are fixed.

[2016-08-17 05:35] krzkrzkrz opened #40 "Getting unknown type: size_t input_size"
Currently getting:

[code]

This just suddenly appeared. Im guessing due to PoGo API update?

[2016-08-17 05:47] nabeelamjad commented on #40
Try updating Ruby to 2.3

[2016-08-17 08:21] #40 closed, assigned to nobody

[2016-08-18 02:36] kddnewton commented on #26
In case anyone is interested, this https://github.com/kddeisz/poke-go-ivs encapsulates the google login business and shows you the IVs locally.

[2016-08-18 06:49] emilenriquez opened #41 "Unkown proto fault when using @client.call or @client.login method"
An unknown proto fault has occured => [Error occurred during parsing: Unmatched ENDGROUP tag. @ /home/deploy/.bundler/pokedex_development/ruby/2.2.0/bundler/gems/poke-api-5f1a75a6e4ed/lib/poke-api/response.rb:16:in `decode']

[2016-08-18 06:51] emilenriquez commented on #41
<img width="1279" alt="screen shot 2016-08-18 at 14 52 43" src="https://cloud.githubusercontent.com/assets/3405569/17764636/2672b99e-6553-11e6-9aa9-8cb0341133f6.png">

[2016-08-18 08:40] nabeelamjad commented on #41
Can you log in at all or does it fail entirely? I would suggest to try different credentials and/or update Ruby. The error does suggest that you received no response from Niantic.

If you could run with debug mode on and paste the response (filter out whatever is personal) then I might be able to see what's going on.

[2016-08-18 08:42] nabeelamjad commented on #26
:+1:

[2016-08-18 08:50] emilenriquez commented on #41
updated ruby to 2.3.1 already and on my localhost this wasn't a problem but after deploying to the server it fails .

[2016-08-18 08:51] emilenriquez commented on #41
btw thanks for following this one up.

it can get the google credentials
but after setting up or calling @client.login method then the above error occurs @nabeelamjad

[2016-08-18 08:57] nabeelamjad commented on #41
Oh. I see.

Juts so you know major cloud providers all over the world are banned to received responses from Niantic, so most likely yours is too (wherever you host it). This is in a bid to crack down any API calls unfortunately, there's not much you can do about it (you can run it locally or have a proxy for your webserver that routes it elsewhere first).

If you enable DEBUG logging you'll notice

[2016-08-18 09:20] emilenriquez commented on #41
I see. thanks @nabeelamjad. I wonder how these services get their data though
- pokeiv.net
- pgnexus.gg

[2016-08-18 09:38] emilenriquez commented on #41
additional debug

[code]

[2016-08-18 10:48] nabeelamjad commented on #41
Yeah I'm pretty sure the server you're hosting it can't receive data (as Niantic blocked a lot of IP ranges). If you use Google App Engine, Azure, AWS, Heroku and tons of others then you're out of luck. You'll need to get a provider that isn't used at all (or a proxy which you can proxy through).

If you set logging as follows right after you `'require 'poke-api'`

[code]

Then that will give you

[2016-08-21 12:34] ipepe opened #42 "gpsoauth is not compatible with ruby 2.0.0"
I know that it's old as my grandma ass but that's my hosting platform and can't change it. Can we do something about it? Do I have to make a pull request in gpsoauth reverting compatibility? I don't want to use Google Login....

[2016-08-21 12:50] ipepe opened #43 "undefined method `to_h' for [["error", "invalid_grant"]]:Array"
Poke::API::Errors::LoginFailure: Unable to login to PTC => [undefined method `to_h' for [["error", "invalid_grant"]]:Array @ /Users/user/.rbenv/versions/2.0.0-p645/lib/ruby/gems/2.0.0/bundler/gems/poke-api-fd27b2c9834f/lib/poke-api/auth/ptc.rb:65:in`fetch_access_token']
    from /Users/user/.rbenv/versions/2.0.0-p645/lib/ruby/gems/2.0.0/bundler/gems/poke-api-fd27b2c9834f/lib/poke-api/client.rb:27:

[2016-08-21 13:05] nabeelamjad commented on #43
I will look into it, it might be easier to monkey patch the Array class to include `to_h`.

[2016-08-21 13:22] #41 closed, assigned to nobody

[2016-08-21 13:24] ipepe commented on #43
Should be Hash[array]

[2016-08-21 13:27] nabeelamjad commented on #43
I think you will get an issue with key word arguments too as they are not supported by Ruby 2.0

[2016-08-21 13:49] nabeelamjad commented on #42
Not sure why I closed this but tagging in @xssc, it does seem a lot of the things are broken for this to work (OpenSSL, hash notation, etc)

[2016-08-21 13:54] nabeelamjad commented on #43
@ipepe - could you use the following snippet at the top of your code for now, I will push this fix with the next release.

[code]

[2016-08-21 13:59] ipepe commented on #42
Well I commented out for now requiring of 'gpsoauth' and seems to be working, but I have trouble with:

[code]

[2016-08-21 14:01] nabeelamjad commented on #42
Could you enable DEBUG mode please and paste the log (with whatever sensitive information redacted), and a stack trace too.

[2016-08-21 14:03] ipepe commented on #42
I guess I don't have any sensitive information?

[code]

[2016-08-21 14:09] ipepe opened #44 "Create a chat at Gitter?"
Please consider creating a chat here: https://gitter.im

[2016-08-21 14:10] ipepe commented on #43
Sure. Thanks.

[2016-08-21 14:15] nabeelamjad commented on #42
It seems to me that Niantic is not passing you an endpoint in their response, moreover you're getting `status_code: 3` in the decoded response whereas the one I'm getting is 53 (I'm sorry, I don't know what the codes map to exactly).

I would try locally on your own machine first and with a different PTC account, I'm not entirely sure what the status code error is for (it could also be that you ne

[2016-08-21 14:17] ipepe commented on #42
It's new. The TOS is shown in Mobile App?

[2016-08-21 14:18] nabeelamjad commented on #42
Yes, there's a way to accept it as well programatically, I'll have to dig the code but it's a simple thing.

[2016-08-21 14:24] nabeelamjad commented on #42
Have a look at: https://github.com/scottstamp/pgoapi/blob/master/scripts/accept-tos.py,

So this would translate into the following call: `@client.mark_tutorial_complete(tutorials_completed: [0], send_marketing_emails: false, send_push_notifications: false)`, though the issue is that currently the `login` method uses a separate call straight off the bat.

If you go into the file `client.rb` and ch

[2016-08-21 14:32] nabeelamjad commented on #44
I'm on the poke-dev Discord (linked on Reddit), if you need any help.

[2016-08-21 15:06] ipepe commented on #44
Okey. Close

[2016-08-21 15:07] #44 closed, assigned to nobody

[2016-08-21 16:21] nabeelamjad commented on #43
This has been fixed now in the latest release 0.2.0

[2016-08-21 16:21] #43 closed, assigned to nobody

[2016-08-21 16:21] nabeelamjad commented on #39
Both latest protobufs and optional signature info are added in the latest release now (0.2.0), the readme will indicate on how to use these per request.

[2016-08-21 16:21] #39 closed, assigned to nobody

[2016-08-21 16:22] nabeelamjad commented on #42
The latest build now has automatic TOS acceptance, let me know if that works.

[2016-08-21 17:56] nabeelamjad commented on #42
Removed the Auto TOS accept as it might get detected too easily otherwise.

Here is how you would do it now to accept tutorials and login at the same time.

[code]

[2016-08-21 18:25] ipepe commented on #42
[code]

[2016-08-21 19:55] nabeelamjad commented on #42
Interesting, you're still getting `status_code: 3`, I have no idea what this means but I'd recommend trying a different account and or machine entirely. I'm certain it's not related to the client itself.

[2016-08-21 20:09] ipepe commented on #42
I read that code 3 means ban

[2016-08-21 22:41] nabeelamjad commented on #42
Oh, well then :P

[2016-08-22 00:20] ipepe commented on #42
Where do You read those codes in output?

[2016-08-22 05:49] nabeelamjad commented on #42
Search for status, it is under decoded response.

[2016-08-24 11:43] #42 closed, assigned to nobody

[2016-08-24 11:44] nabeelamjad commented on #34
Won't have time for this, so closing for now.

[2016-08-24 11:44] #34 closed, assigned to nobody

[2016-09-06 00:36] kddnewton opened #45 "403"
Hi @nabeelamjad, any idea what `Poke::API::Errors::ForbiddenAccess - Your host is unable to receive a response as it is banned.` means/how it can be fixed?

[2016-09-06 01:18] nabeelamjad commented on #45
@kddeisz it means the machine you're running from is not allowed to receive data from Niantic (they have banned the majority of providers such as AWS, Azure, Google App Engine, Linode, etc, etc).

[2016-09-06 14:04] kddnewton commented on #45
Thanks - I'll have to find some kind of proxy I guess.

[2016-09-06 14:04] #45 closed, assigned to nobody

[2016-11-09 23:37] OldSkoooool opened #46 "Any chance of a 0.43.x API update?"
Since the 0.43.x API was released not so long ago (https://github.com/pogodevorg/pgoapi), any chance of updating the ruby version? (necessary for PoGoBag :) )

[2016-11-10 01:32] nabeelamjad commented on #46
I don't have any time to update the current code base or maintain it but I'd be more than happy to accept any PR (or a change of ownership). If the changes aren't too big then I could possibly do it but I would need to know what exactly is changed since this version.

Your best bet is most likely to convert over to Python if that's a possibility.

[2016-11-10 15:37] OldSkoooool commented on #46
Well, it's another project that uses the ruby api (PoGoBag)... was hoping that I could just update that and then work out any issues that crop up... Porting from python to ruby will be too big a job for me, as neither are languages I'm overly familiar with.  :(   Here's hoping someone else can pick this up.....

[2017-01-25 10:20] pavankumarjs opened #47 "S2 geometry library porting"
@nabeelamjad
The S2 geometry cells which are natively implemented in ruby will be very helpful in my project. The Lat-Long to cell id conversion code is ported from the S2 Geometry library. But the cell id to lat-long conversion is not available in this gem.
Can you help me to port the rest of the library? And guide me with the required resources for porting  the library?

[2017-01-25 10:33] nabeelamjad commented on #47
@pavankumarjs have a look at https://github.com/qedus/sphere/blob/master/sphere.py, that's essentially where I've ported from.

[2017-07-17 23:30] adrianomitre opened #48 "wrong S2 cell ID for given latitude and longitude"
[code]
which does not contain the S2 Cell ID 10722603763924729856, whose center is `lat, lng`.

Contrast this with [sidewalklabs/s2sphere: Python implementation of the S2 geometry library](https://github.com/sidewalklabs/s2sphere):
[code]

[2017-07-18 00:56] nabeelamjad commented on #48
Good find, unfortunately I don't think I've got the time now to debug this as this project has been deprecated since almost a year ago and I'm quite busy these days.

The S2 implementation was a quick conversion of some functionality to make it work for calculating cells in use with Pokemon Go, during the conversion it appeared to work fine (as in I had values that were the same as s2sphere from P

[2017-07-19 00:40] adrianomitre commented on #48
So maybe a warning on related source files and/or README would suffice...

Em seg, 17 de jul de 2017 às 21:56, nabeelamjad <notifications@github.com>
escreveu:

--
*Adriano Mitre*